$yellow:    #F6E05E;
$light:     #E2E8F0;
$dark:      #1A202C;
$dark-blue: #4A5568;


.btn {
    border-radius: 8px;
    border: solid 1px $dark;
    padding: 14px 18px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: $dark;
    color: $yellow;
    box-shadow: 0 0 10px $dark;
    transition: all ease-in-out .3s;

    
    &:hover {
        cursor: pointer;
        background-color: $yellow;
        color: $dark;
        transition: all ease-in-out .3s;
        box-shadow: 0 0 10px $yellow;
    }
}

.content {
    margin: 100px 0;
}