// Imports
@import './mixins';
@import './var';


.cards {
    display: flex;
    flex: 1 1 0;
    gap: 20px;

    .card {
        width: 100%;
        text-align: center;

        .img {
            border-radius: 100%;
        }
    }
    
}