// Imports
@import './mixins';
@import './var';


.cards {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    

    @include tablet {
        flex-direction: column;
        margin: 100px 0;
    }

}
.card {
    padding: 20px;


}    
.img {
    border-radius: 100%;
    width: 500px;
    border: solid 20px #000;
}