// Imports
@import './mixins';
@import './var';


.cards {
    display: flex;
    flex: 1 1 0;
    gap: 20px;

    .card {
        border: solid $dark 1px;
        padding: 20px;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);

        .img {
            border-radius: 100%;
        }
    }
    
}