@import "./mixins";
@import "./var";

.cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: masonry;
  margin-top: 50px;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: rgba(211, 211, 211, 0.123);
  padding: 10px;
  border-radius: 15px;
  position: relative;
  height: fit-content;
  overflow: hidden;
  border: solid 1px rgb(233, 233, 233);
  transition: all 0.5s;

  .title {
    text-align: center;
    color: $dark;
    font-size: 1.4rem;
    text-decoration: underline;
    line-height: 10px;
    font-weight: 300;
  }

  .bottom {
    bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 10px 0 #000;
  }
}

.link {
  letter-spacing: 5px;
  color: $dark;
  text-decoration: underline;
}

.text {
  font-size: 1.2rem;
  text-align: center;
}

.date {
  color: $dark;
  background-color: $light;
  width: fit-content;
  font-size: 1.2rem;
  height: auto;
  padding: 5px;
}

.single {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;

  @include tablet {
    grid-template-columns: 100%;
  }
}

.f__image {
  max-height: 300px;
  width: auto;
}

.eventInfo {
  font-size: 1.2rem;
  color: $yellow;
  background-color: $dark;
  width: fit-content;
  padding: 5px 10px;
  border-left: solid 10px $yellow;
  transition: ease-in-out 0.3s;
  list-style: none;
  margin-bottom: 10px;

  &:hover {
    transition: ease-in-out 0.3s;
    border-left: solid 10px $dark;
    cursor: pointer;
  }

  .span {
    color: $light;
  }

  .link {
    color: $light;
    &:hover {
      color: $yellow;
    }
  }
}
.description {
  font-size: 1.2rem;
  font-weight: 200;
}
