@import './mixins';
@import './var';


.cards {
    display: flex;
    gap: 10px;
    margin-top: 50px;

    @include tablet {
        flex-direction: column;
    }
}

.card {
    flex: 1;
    background-color: $light;
    padding: 10px;
    border-radius: 15px;

    .title {
        text-align: center;
        color: $dark;
        font-size: 1.4rem;
        text-decoration: underline;
        line-height: 10px;
        font-weight: 300;
    }
}

.bottom {
    display: flex;

    > * {
        flex: 1;
        align-items: center;
    }
}

.text {
    font-size: 1.2rem;
    text-align: center;
}

.eventDate {
    background: yellow;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

.single {
    display: flex;
    gap: 20px;

    @include tablet {
        flex-direction: column-reverse;
    }

    > * {
        flex: 0 50%;
    }
}

.f__image {
    max-height: 300px;
    width: auto;
}

.eventInfo {
    font-size: 1.2rem;
    color: $yellow;
    background-color: $dark;
    width: fit-content;
    padding: 5px 10px;
    border-left: solid 10px $yellow;

    .span {
        color: $light;
    }
}