@import './mixins';
@import './var';


.gallery {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @include tablet {
      display: flex;
      flex-direction: column;
  }
}

.galleryItem {
    overflow: hidden;


    .galleryImg {
        position: relative;
        object-fit: cover;
    }
}