// Imports
@import "./mixins";
@import "./var";


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    letter-spacing: 3px;
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 10px;
}

h3 {
    font-size: 3rem;
    color: $yellow;
}


.flex {
    display: flex;
    flex: 1;
    gap: 100px;

    > * {
        flex: 1 50%;
        height: auto;
    }
}


.img-placeholder-long {
    background-color: $dark;
    width: 100%;
    min-height: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.123);
    margin: 100px 0;
}

.align-right {
    text-align: right;
}

// Form styling
input {
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid $dark;
    background-color: $light;
    font-size: 1.2rem;
}

textarea {
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid $dark;
    background-color: $light;
    font-size: 1.2rem;
}

label {
    text-transform: uppercase;
    letter-spacing: 5px;
}

// Lists
ul {
    li {
        font-size: 1.6rem;
        text-transform: capitalize;
        color: $dark-blue;
        letter-spacing: 8px;
    }
}