@import './var';
@import './mixins';


.hero {
    background-color: $dark;
    height: 100vh;
    color: $light;

}

.sports_container {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    gap: 50px;

    .item {
        flex: 1 33.33%;
        text-align: center;
    }

    @include tablet {

        display: block;
        margin: 100px 0;
        width: 100%;
        text-align: center;
        padding: 400px 0;
    }
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 70%;
    margin: auto;
    align-content: center;
}
.container_2 {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    flex-direction: column;
    text-align: center;

    @include tablet {
        width: 100%;
    }
}

.title {
    color: $light;
    letter-spacing: 10px;
    font-size: 3rem;
}

.span {
    color: $yellow;
    font-size: 1.8rem;
    letter-spacing: 5px;
}

.scroll {
    position: absolute;
    bottom: 50px;
    left: 45%;
    text-align: center;
    border-radius: 100px;
    background-color: $light;
    color: $dark;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.486);
    transition: all .3s ease-in-out;
    text-transform: uppercase;

        &:before {
            content: 'scroll';
        }

        &:hover {
            transition: all .3s ease-in-out;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.486);

                &:after {
                    content: 'down';
                }
                &:before {
                    content: '';
                }
        }
}

.sports {
    height: 100vh;
    display: flex;
    align-items: center;
}

.mission {
    padding: 100px 10px;
    background-color: $dark-blue;
    color: $light;
}

.theTeam {
    height:100%;
    padding: 100px 10px;
}

