// Styling
@import "./var";
@import "./mixins";

.sponsors {
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
  align-content: center;
  align-items: center;

  @include tablet {
    display: none;
  }

  .img {
    max-width: 100px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}
