// Styling
@import './var';
@import './mixins';


.sponsors {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-content: center;
    align-items: center;

    @include tablet {
        display: none;
    }
    
    
    .img {
        width: 150px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

            &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            }
    }
}
