// Imports
@import './mixins';
@import './var';


.navbar {
    width: 100%;
    background-color: $dark;
    position: fixed;
    z-index: 1;
    top: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto    ;
    }
}

.titleLink {
    text-decoration: none;
    font-size: 1.8rem;

    .h4 {
        color: $yellow;
        &:hover {
            color: $light;
        }
    }

}

.link {
    color: $light;
    text-decoration: none;
    text-transform: uppercase;
    padding: 36px 14px;
    font-weight: 700;
    letter-spacing: 5px;

    &:hover {
        color: $dark;
        background-color: white;
    }
}

.dropdown {
    display: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.377);
    }

    .dropdown_content {
        display: block;
        background-color: white;
        z-index: 1;
        text-align: center;
        margin: auto;
        
        .link {
            color: $dark;
            padding: 0;
            display: block;
            padding: 20px 30px;

            &:hover {
                background-color: $dark;
                color: $yellow;
                transition: all ease-in-out 0.3s;
            }
        }
    }

    .drop {
        position: relative;
        display: inline-block;

        &:hover .dropdown {
            display: block;
            position: absolute;
            margin-top: 36px;
            transition: all ease-in-out 0.3s;
            left: 0;
    }
}